# reloadly_sdk
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module ReloadlySdk
  # AirtimeTransactionsController
  class AirtimeTransactionsController < BaseController
    def initialize(config, http_call_back: nil)
      super(config, http_call_back: http_call_back)
    end

    # TODO: type endpoint description here
    # @param [String] accept Required parameter: Example:
    # @param [String] authorization Required parameter: Example:
    # @param [Integer] size Optional parameter: This indicates the number of
    # transactions to be retrieved on a page. Default value is 200.
    # @param [Integer] page Optional parameter: This indicates the page of the
    # transactions list being retrieved. Default value is 1.
    # @param [Integer] countrycode Optional parameter: Indicates the ISO code of
    # the country assigned to the top-up's receiver at the time the top-up
    # transaction was made.
    # @param [String] operatorid Optional parameter: Indicates the operator
    # identification number assigned to the top-up transaction at the time it
    # was made.
    # @param [String] operator_name Optional parameter: Indicates the operator
    # name assigned to the top-up transaction at the time it was made.
    # @param [String] custom_identifier Optional parameter: Indicates the unique
    # reference assigned to the top-up transaction at the time it was made.
    # @param [String] start_date Optional parameter: Indicates the beginning of
    # the timeframe range for the transactions to be retrieved.
    # @param [String] end_date Optional parameter: String  Indicates the end of
    # the timeframe range for the transactions to be retrieved.
    # @return [Mixed] response from the API call
    def reloadly_airtime_transactions(accept,
                                      authorization,
                                      size: nil,
                                      page: nil,
                                      countrycode: nil,
                                      operatorid: nil,
                                      operator_name: nil,
                                      custom_identifier: nil,
                                      start_date: nil,
                                      end_date: nil)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::AIRTIME)
      _query_builder << '/topups/reports/transactions'
      _query_builder = APIHelper.append_url_with_query_parameters(
        _query_builder,
        'size' => size,
        'page' => page,
        'countrycode' => countrycode,
        'operatorid' => operatorid,
        'operatorName' => operator_name,
        'customIdentifier' => custom_identifier,
        'startDate' => start_date,
        'endDate' => end_date
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'Accept' => accept,
        'Authorization' => authorization
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      case _response.status_code
      when 401
        raise APIException.new(
          'Full authentication is required to access this resource',
          _response
        )
      when 404
        raise APIException.new(
          'Not Found',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      decoded = APIHelper.json_deserialize(_response.raw_body) unless
        _response.raw_body.nil? ||
        _response.raw_body.to_s.strip.empty?
      decoded
    end

    # TODO: type endpoint description here
    # @param [String] accept Required parameter: Example:
    # @param [String] authorization Required parameter: Example:
    # @param [Integer] transactionid Required parameter: This indicates the
    # identification number of the transaction to be retrieved.
    # @return [Mixed] response from the API call
    def reloadly_airtime_transaction_by_id(accept,
                                           authorization,
                                           transactionid)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::AIRTIME)
      _query_builder << '/topups/reports/transactions/{transactionid}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'transactionid' => { 'value' => transactionid, 'encode' => true }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'Accept' => accept,
        'Authorization' => authorization
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      case _response.status_code
      when 401
        raise APIException.new(
          'Full authentication is required to access this resource',
          _response
        )
      when 404
        raise APIException.new(
          'Airtime transaction not found',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      decoded = APIHelper.json_deserialize(_response.raw_body) unless
        _response.raw_body.nil? ||
        _response.raw_body.to_s.strip.empty?
      decoded
    end
  end
end
