# reloadly_sdk
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module ReloadlySdk
  # GiftCardsDiscountsController
  class GiftCardsDiscountsController < BaseController
    def initialize(config, http_call_back: nil)
      super(config, http_call_back: http_call_back)
    end

    # TODO: type endpoint description here
    # @param [String] accept Required parameter: Example:
    # @param [String] authorization Required parameter: Example:
    # @param [String] size Optional parameter: Indicates the number of gift card
    # products offering discounts to be retrieved on a page.
    # @param [String] page Optional parameter: Indicates the page of the list of
    # gift card products offering discounts.
    # @return [Mixed] response from the API call
    def reloadly_gift_cards_discounts(accept,
                                      authorization,
                                      size: nil,
                                      page: nil)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::GIFT_CARDS)
      _query_builder << '/discounts'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'size' => { 'value' => size, 'encode' => true },
        'page' => { 'value' => page, 'encode' => true }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'Accept' => accept,
        'Authorization' => authorization
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      case _response.status_code
      when 401
        raise APIException.new(
          'Full authentication is required to access this resource',
          _response
        )
      when 404
        raise APIException.new(
          'Not Found',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      decoded = APIHelper.json_deserialize(_response.raw_body) unless
        _response.raw_body.nil? ||
        _response.raw_body.to_s.strip.empty?
      decoded
    end

    # TODO: type endpoint description here
    # @param [String] accept Required parameter: Example:
    # @param [String] authorization Required parameter: Example:
    # @param [String] productid Required parameter: The product's identification
    # number.
    # @return [Mixed] response from the API call
    def reloadly_gift_cards_discount_by_product_id(accept,
                                                   authorization,
                                                   productid)
      # Prepare query url.
      _query_builder = config.get_base_uri(Server::GIFT_CARDS)
      _query_builder << '/products/{productid}/discounts'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'productid' => { 'value' => productid, 'encode' => true }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'Accept' => accept,
        'Authorization' => authorization
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      _response = execute_request(_request)

      # Validate response against endpoint and global error codes.
      case _response.status_code
      when 401
        raise APIException.new(
          'Full authentication is required to access this resource',
          _response
        )
      when 404
        raise APIException.new(
          'Not found',
          _response
        )
      end
      validate_response(_response)

      # Return appropriate response type.
      decoded = APIHelper.json_deserialize(_response.raw_body) unless
        _response.raw_body.nil? ||
        _response.raw_body.to_s.strip.empty?
      decoded
    end
  end
end
